{% extends 'base.html.twig' %}

{% block body %}

    <a href="/admin">К заказам</a>
    <br>
    {% for order in orders %}
        <p>{{ order.product.name }} - {{ order.count }} шт. </p>
{% endfor %}
    <a href="/admin/send/{{ id }}">Отправить</a>


{% endblock %}