{%  extends 'base.html.twig' %}

{% block body %}
    {{ include('header/index.html.twig') }}
<h1>Burgers</h1>

    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <div>
        <h2><a href="/menu">Меню</a></h2>
    </div>

{% endblock %}